.el-progress-bar__inner
  text-align center!important
  font-size $font-normal!important
  text-align center!important

.el-progress-bar__outer
  background #373D5B!important

.el-progress-bar__innerText
  font-size .2rem!important
