.el-progress-bar__inner
  text-align center!important
  font-size $font-normal!important
  text-align center!important

.el-progress-bar__outer
  background #373D5B!important

.el-progress-bar__innerText
  // font-size .2rem!important
  color #000!important

.el-select
  width 100px
  background #101847!important

.el-input__inner
  background #050A27!important
  color #91D2FA!important
  border 1px solid #3D8CB5!important

.el-select-dropdown
  background #1F406B!important
  border none!important
  color #91D2FA!important 

.el-select-dropdown__item 
  color #91D2FA!important  

.el-select-dropdown__item.hover, .el-select-dropdown__item:hover
  background #2D6B8E!important
  color #91D2FA!important 

.popper__arrow
  display none!important

.el-icon-arrow-up:before
  color #91D2FA!important 

.el-icon-arrow-left:before, .el-icon-arrow-right:before
  display none!important 

// .el-carousel, .el-carousel__item.is-active.is-animating
//   height 500px!important
.el-select-dropdown__item 
  font-size 14px!important