$font-normal = .26rem
$font-big = .4rem
$font-small = .2rem

$color-active  = #86A5D0
$color-normal = #fff

$pic-green = #79C171
$pic-pink = #FB62B5
$pic-yellow = #FEAA03
$pic-blue = #19ABF7
$pic-dark = #355E96



