$font-normal = 18px
$font-big = 32px
$font-small = 16px

$color-normal  = #91D2FA
$number-active = #17C9BD

$pic-green = #79C171
$pic-pink = #FB62B5
$pic-yellow = #FEAA03
$pic-blue = #19ABF7
$pic-dark = #355E96



