$font-normal = 16px
$font-big = 26px
$font-small = 14px

$color-normal  = #86A5D0
$color-active = #17C9BD

$pic-green = #79C171
$pic-pink = #FB62B5
$pic-yellow = #FEAA03
$pic-blue = #19ABF7
$pic-dark = #355E96



